.managers {
    padding: 54px 0 74px 0;
    background: url('../../img/managers_section/managers_bg.png') center center / cover no-repeat;
    &__logo {
        margin: 0 auto;
        text-align: center;
    }
    &__title {
        margin: 0 auto;
        margin-top: 23px;
        text-align: center;
        font-size: 26px;
        font-weight: 700;
        color: #fff;
    }
    &__subtitle {
        margin: 0 auto;
        margin-top: 19px;
        text-align: center;
        font-size: 26px;
        font-weight: 300;
        color: #fff;
    }
}