@media (max-width: 1200px) {
    .promo {
        &__title {
            font-size: 56px;
        }

        &__subsubtitle {
            font-size: 20px;
        }

        &__subtitle {
            font-size: 25px;
        }

        &__wrapper {
            width: 100%;
        }

        &__descr {
            font-size: 12px;
        }
    }

    .container {
        width: 960px;
    }

    .menu__link {
        display: block;
        padding-left: 10px;
        font-size: 12px;
    }

    .menu__item {
        text-align: center;
        align-items: center;
    }

    .answers {
        align-items: center;

        &__button {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        &__text-phone {
            font-size: 9px;
        }
    }
    .work {
        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 30px;
        }
        &__text-descr {
            text-align: center;
            align-items: center;
        }
    }
}

@media (max-width: 992px) {
    .container {
        width: 720px;
    }

    .menu {
        margin-left: 0;
    }

    .promo {
        &__wrapper {
            width: 100%;
        }

        &__white_divider {
            margin: 0 10px;
        }

        &__title {
            font-size: 40px;
        }

        &__subsubtitle {
            font-size: 18px;
        }

        &__subtitle {
            font-size: 20px;
        }

        &__descr {
            font-size: 10px;
        }

        &__button {
            width: 200px;
            font-size: 12px;
        }
    }

    .answers {
        &__text-question {
            font-size: 10px;
        }

        &__text-phone {
            font-size: 7px;
        }

        &__button {
            width: 134px;
            margin-left: 5px;
            font-size: 10px;
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 10px;
        }
        &__form {
            flex-flow: column;
            input {
                margin-bottom: 5px;
            }
            &-icon {
                top: -17%;
            }
            &-button {
                bottom: -7%;
            }
        }
    }
    .schema {
        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 40px;
        }
        &__wrapper2 {
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
            row-gap: 40px;
        }
    }
    .reviews {
        &__slider-wrapper {
            width: auto;
        }
    }
}

@media (max-width: 768px) {
    .container {
        width: 540px;
    }

    .menu {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        top: 0;
        right:-100%;
        width: 50%;
        background-color: rgba(0, 0, 0, .8);
        transition: 0.6 all;
        &_active {
            right: 0;
        }
        &__item {
            margin-bottom: 15px;
            border: none;
        }
        &__link {
            font-size: 18px;
            padding: 0;
        }

    }

    .promo {
        &__wrapper {
            width: 100%;
        }

        &__white_divider {
            margin: 0 10px;
        }

        &__title {
            font-size: 30px;
        }

        &__subsubtitle {
            font-size: 15px;
        }

        &__subtitle {
            font-size: 17px;
        }

        &__descr {
            font-size: 10px;
        }

        &__button {
            width: 200px;
            font-size: 12px;
        }

        &__white_round {
            width: 5px;
            height: 2px;
        }
    }

    .answers {
        display: block;
        margin-right: 25px;
    }

    .logo {
        margin-left: 25px;
    }
    .hamburger {
        display: block;
        width: 26px;
        height: 12px;
        transition: 0.5 all;

        span {
            display: block;
            height: 2px;
            width: 100%;
            margin-bottom: 2px;
            background-color: $main-color;
        }
        &_active {
            span {
                margin-bottom: -2px;

                &:nth-child(1) {
                    transform: translateY(3px) rotate(-45deg);
                }

                &:nth-child(2) {
                    display: none;
                }

                &:nth-child(3) {
                    transform: translateY(3px) rotate(45deg);
                }
            }
        }
    }
    .advantages {
        &__wrapper {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .work {
        &__wrapper {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .agent {
        &__title {
            font-size: 23px;
        }
        &__subtitle {
            font-size: 17px;
        }
    }
    .price {
        &__title {
            font-size: 23px;
        }
        &__subtitle {
            font-size: 16px;
        }
        &__wrapper {
            grid-template-columns: repeat(1, 1fr);
        }
        &__item {
            margin: 0 10px;
        }
        &__title-beforeform {
            font-size: 23px;
        }
        &__form {
            margin: 79px 10px 0px 10px;
        }
    }
    .managers {
        &__title {
            font-size: 20px;
        }
        &__subtitle {
            font-size: 14px;
        }
    }
    .reviews {
        &__slider-prev {
            top: 13%;
            left: 19%;
        }
        &__slider-next {
            top: 13%;
            right: 19%;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: auto;
    }

    .promo {
        &__title {
            font-size: 22px;
        }

        &__subsubtitle {
            font-size: 12px;
        }

        &__subtitle {
            font-size: 14px;
        }

        &__descr {
            font-size: 10px;
        }

        &__button {
            width: 200px;
            font-size: 12px;
        }

        &__wrap {
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    .advantages {
        &__title {
            font-size: 21px;
        }
        &__item {
            margin-left: 10px;
            margin-right: 10px;
        }
        &__item_descr {
            font-size: 12px;
        }
        &__item_subtitle {
            font-size: 14px;
        }
    }
}