.pageup {
    display: none;
    position: fixed;
    right: 40px;
    bottom: 70px;
    z-index: 999999;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    background-color: #fff;
    img {
        width: 100%;
    }
    
}
.active {
    display: block;
}