.promo {
    padding-top: 58px;
    padding-bottom: 80px;
    min-height: 100vh;
   background: url(../../img/promo_section/background.png) center center / cover no-repeat ;
   &__subsubtitle {
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
}
&__title {
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    text-decoration: uppercase;
    color: $main-color;
}
&__subtitle {
    margin: 0 auto;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    text-decoration: uppercase;
    color: #ffffff;
}
&__wrapper {
    width: 950px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
&__white_divider {
    width: 420px;
    height: 1px;
    background-color: #fff;
}
&__white_round {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 100%;
}
&__wrap {
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
&__item {
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
}
&__descr {
    margin-top: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
}
&__button {
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    width: 230px;
    height: 56px;
    font-size: 15px;
    font-weight: 700;
}
}
.logo {
    width: 96px;
    height: 100px;
}
.menu {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    text-decoration: none;
    list-style: none;
    margin: 0px auto;
    margin-left: 50px;
    padding-left: 0;
    &__link {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 15px;
        font-weight: 300;
        &:hover {
            color: $main-color;
            border-bottom: 1px solid $main-color;
            padding-bottom: 7px;
        }
    }
    &__item {
        border-right: 1px dotted gray;
        padding-right: 15px;
        &:last-child {
            border-right: none;
        }
    }
}
.answers {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    &__text {
        text-align: right;
    }
    &__text-question {
        font-size: 14px;
        font-weight: 300;
    }
    &__text-phone {
        font-size: 19px;
        font-weight: 700;
        text-decoration: none;
        color: #ffffff;
        &:hover {
            color: $main-color;
            border-bottom: 1px solid $main-color;
            padding-bottom: 7px;
        }
    }
    &__button {
        margin-left: 17px;
        width: 160px;
        border-radius: 78px;
        border: none;
        background-color: $main-color;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 12px;
        font-weight: 300;
        color: #ffffff;
    }
}
.min1200 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
